<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
	<servlet>
		<servlet-name>CreationPatient</servlet-name>
		<servlet-class>com.app.servlets.CreationPatient</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreationPatient</servlet-name>
		<url-pattern>/creationPatient</url-pattern>
	</servlet-mapping>

	
		<servlet>
		<servlet-name>ListePatients</servlet-name>
		<servlet-class>com.app.servlets.ListePatients</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListePatients</servlet-name>
		<url-pattern>/listerPatients</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>CreationDocteur</servlet-name>
		<servlet-class>com.app.servlets.CreationDocteur</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreationDocteur</servlet-name>
		<url-pattern>/creationDocteur</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>ListeDocteurs</servlet-name>
		<servlet-class>com.app.servlets.ListeDocteurs</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ListeDocteurs</servlet-name>
		<url-pattern>/listerDocteurs</url-pattern>
	</servlet-mapping>
	
</web-app>